<!-- 
   Refer to https://github.com/quolc/neural-collage/blob/master/templates/demo_feature_blending/index.html
   -->
   {% extends "layout.html" %} {% block content %}
   <div class="main container-fluid ">
   <div class="row justify-content-md-center ">
      <div class="col-md-12 " id="main-column">
         <!-- title -->
         <!-- main UI -->
         <div class="row justify-content-md-center " id="main-ui">
            <div class="col-md-3">
               <div class="card shadow  ">
                  <div class="card-header">Random</div>
                  <div class="card-body">
                     <div id="p5-original-wrapper" class="p5-wrapper">
                        <div id="p5-original" class="p5"></div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <div id="sketch-control" class="row">
                        <button
                           type="button"
                           class="btn btn-warning"
                           data-toggle="modal"
                           data-target="#exampleModal2"
                           >
                        Random Generated
                        </button>
                        <button
                           class="btn btn-secondary"
                           type="button"
                           data-toggle="collapse"
                           href="#collapseExample"
                           aria-expanded="false"
                           aria-controls="collapseExample"
                           >
                        Edit
                        </button>
                     </div>
                     <div class="collapse" id="collapseExample">
                        <div class="card  ">
                           <div class="card-body">
                              <div class='row justify-content-md-center'>
                                 <p>
                                    <input
                                       id="pose_lr"
                                       data-slider-min="-10"
                                       data-slider-max="10"
                                       data-slider-step="2"
                                       data-slider-value="0"
                                       />
                                 </p>
                              </div>
                              <div class='row justify-content-md-center'>
                                 <p>
                                    <input
                                       id="gender"
                                       data-slider-min="-10"
                                       data-slider-max="10"
                                       data-slider-step="2"
                                       data-slider-value="0"
                                       />
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="card shadow  ">
                  <div class="card-header">Reference Images / Canvas Draw</div>
                  <div class="card-body">
                     <div id="p5-reference-wrapper" class="p5-wrapper">
                        <div id="p5-reference" class="p5"></div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <div id="sketch-control" class="row">
                        <button
                           type="button"
                           class="btn btn-info"
                           data-toggle="modal"
                           data-target="#exampleModal1"
                           >Import Image
                        </button>
                        <button class="btn btn-danger" id="mask-clear" disabled>
                        clear mask
                        </button>
                        <button class="btn btn-danger" id="sketch-clear" disabled>
                        clear all
                        </button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-1 my-auto" id="main-ui-middle">
               <button
                  type="submit"
                  class="shadow form-control btn btn-danger"
                  id="main-ui-submit"
                  disabled
                  >
               ➞
               </button>
            </div>
            <div class="col-md-3">
               <div class="card shadow  ">
                  <div class="card-header">Generated Result</div>
                  <div class="card-body">
                     <div id="p5-right-wrapper" class="p5-wrapper">
                        <div id="p5-right" class="p5"></div>
                     </div>
                  </div>
                  <div class="card-footer">
                     <div id="result-control" class="row">
                        <input
                           id="ex1"
                           data-slider-id="ex1Slider"
                           type="text"
                           data-slider-min="0"
                           data-slider-max="15"
                           data-slider-step="1"
                           data-slider-value="15"
                           />
                     </div>
                     <button
                        id="download-button"
                        type="button"
                        class="btn btn-secondary btn-sm"
                        >
                     Download
                     </button>
                  </div>
               </div>
            </div>
         </div>
         <!-- palette -->
         <div
            class="row justify-content-md-center  "
            id="palette"
            >
            <div class="col-md-9">
               <div class="row">
                  <button class="btn btn-primary" id="add-mask">add new mask</button>
                  <button class="btn btn-danger" id="sketch-clear">reset all</button>
               </div>
            </div>
            <div class="col-md-9">
               <div class="row">
                  <ul class="row" id="palette-body">
                     <div
                        class="card palette-item selected"
                        id="palette-eraser"
                        data-class="-1"
                        style="background-color: #000"
                        >
                        <img src="/demo/static/components/img/eraser.png" />
                     </div>
                  </ul>
               </div>
            </div>
         </div>
         <!-- Button trigger modal -->
         <!-- Modal -->
         <div
            class="modal fade"
            id="exampleModal1"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            >
            <div class="modal-dialog   modal-xl">
               <div class="modal-content ">
                  <div class="modal-header ">
                     <h5 class="modal-title" id="exampleModalLabel">Image Search</h5>
                     <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        >
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div
                        class="row justify-content-md-center  "
                        id="class-list"
                        >
                        <div class="col-md-10">
                           <select
                              class="image-picker show-html form-control col-md-6"
                              id="class-picker"
                              ></select>
                        </div>
                        <div class="col-md-10 ">
                           <label class="cabinet center-block">
                              <figure>
                                 <div class="thumbnail">
                                    <img
                                       src="/demo/static/components/img/face-detection.png"
                                       class="img-responsive"
                                       id="item-img-output"
                                       />
                                 </div>
                                 <input
                                    type="file"
                                    class="item-img file center-block"
                                    name="file_photo"
                                    />
                              </figure>
                           </label>
                        </div>
                     </div>
                  </div>
                  <div
                     class="modal fade bd-example-modal-lg"
                     id="cropImagePop"
                     tabindex="-1"
                     role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true"
                     >
                     <div class="modal-dialog  modal-lg">
                        <div class="modal-content ">
                           <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel">Edit Photo</h4>
                              <button
                                 type="button"
                                 class="close"
                                 data-dismiss="modal"
                                 aria-label="Close"
                                 >
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <select id="upload-select" class="custom-select"></select>
                              <div id="upload-demo" class="text-center"></div>
                           </div>
                           <div class="modal-footer">
                              <button
                                 type="button"
                                 class="btn btn-secondary"
                                 data-dismiss="modal"
                                 >
                              Close
                              </button>
                              <button
                                 type="button"
                                 id="cropImageBtn"
                                 class="btn btn-primary"
                                 >
                              Crop
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button
                     type="button"
                     class="btn btn-secondary"
                     data-dismiss="modal"
                     >
                  Close
                  </button>
               </div>
            </div>
         </div>
         <!-- MultiStep Form -->
         <div
            class="modal fade"
            id="exampleModal2"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
            >
            <div class ='modal-dialog  modal-xl'>
               <div class='modal-content'>
                  <div class="row justify-content-center mt-0">
                     <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                           <h2><strong>Random Character Generate</strong></h2>
                           <div class="row">
                              <div class="col-md-12 mx-0">
                                 <form id="msform">
                                    <!-- progressbar -->
                                    <ul id="progressbar">
                                       <li class="active" id="account"><strong>Configuration</strong></li>
                                       <li id="personal"><strong>Random</strong></li>
                                       <li id="payment"><strong>Detail</strong></li>
                                       <li id="confirm"><strong>Finish</strong></li>
                                    </ul>
                                    <!-- fieldsets -->
                                    <fieldset>
                                       <div class="form-card">
                                          <h2 class="fs-title">Configuration</h2>
                                          <div>
                                             <div class='row justify-content-md-center'>
                                                <div class="btn-group btn-group-toggle" roledata-toggle="buttons">
                                                   <label class="btn btn-secondary">
                                                   <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                                                   </label>
                                                   <label class="btn btn-secondary">
                                                   <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                                                   </label>
                                                </div>
                                             </div>
                                             <div class='row justify-content-md-center'>
                                                <div class="btn-group btn-group-toggle" roledata-toggle="buttons">
                                                   <label class="btn btn-secondary">
                                                   <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                                                   </label>
                                                   <label class="btn btn-secondary">
                                                   <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                                                   </label>
                                                </div>
                                             </div>
                                             <div class='row justify-content-md-center'>
                                                <div class="btn-group btn-group-toggle" roledata-toggle="buttons">
                                                   <label class="btn btn-secondary">
                                                   <input type="radio" name="options" id="option2" autocomplete="off"> Radio
                                                   </label>
                                                   <label class="btn btn-secondary">
                                                   <input type="radio" name="options" id="option3" autocomplete="off"> Radio
                                                   </label>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <input type="button" name="next" class="next action-button" value="Next Step" id='firstStep'/>
                                    </fieldset>
                                    <fieldset>
                                       <div class="form-card">
                                          <h2 class="fs-title">Choose One</h2>
                                          <div id = 'randomSampleGenerated'></div>
                                       </div>
                                       <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> 
                                       <input type="button" name="again" class="again action-button-previous" value="Again" /> 
                                       <input type="button" name="next" class="next action-button" value="Next Step" id='secondStep'/>
                                    </fieldset>
                                    <fieldset>
                                       <div class="form-card">
                                          <h2 class="fs-title">Details</h2>
                                          <div id = 'randomSampleGeneratedNoise'></div>
                                       </div>
                                       <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> 
                                       <input type="button" name="again" class="again-noise action-button-previous" value="Again" />
                                       <input type="button" name="make_payment" class="next action-button" value="Confirm" id='thirdStep' />
                                    </fieldset>
                                    <fieldset>
                                       <div class="form-card">
                                          <h2 class="fs-title text-center">Success!</h2>
                                          <br><br>
                                          <div class="row justify-content-center">
                                             <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                          </div>
                                          <button
                                             type="button"
                                             class="btn btn-secondary close"
                                             data-dismiss="modal"
                                             >
                                          Close
                                          </button>
                                       </div>
                                    </fieldset>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endblock %}