* {
  font-family:'Roboto', sans-serif;
}
html, body {
  height: 100%;
}
.navbar {
  background-color: #676767;
  height :4%;
}
.main {
  height: 96%;
  min-height: 96%;
}
.main-sub {
  height: 100%;
  min-height: 100%;
}
.container-fluid {
  padding: 0;
}
#main-column-1 {
  height:100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
#main-column-2 {
  height:100%;
  min-height:100%;
  background-color: rgba(0, 0, 0, 0.1);
}
#title {
  text-align: center;
}
#title h2 {
  margin: 10px auto 30px;
}
#title h4 {
  font-size: large;
  margin: 20px auto 10px;
}
#base-class {
  padding: 10px;
}


#main-ui{
  height:80%;
}

#main-ui.main-ui-high{
  height:45%;
}

#main-ui.main-ui-middle{
  height:55%;
}

#main-ui p {
  margin-bottom: 5px;
}
#main-ui #sketch-control {
  margin: 5px 0 0;
  text-align: center;
}
#main-ui #sketch-control button {
  margin: 0 auto;
  font-size: smaller;
}
#main-ui #result-control {
  text-align: center;
}

#main-ui #result-control .slider {
  margin: 10px auto 0;
}

#main-ui .p5-wrapper {
  position: relative;
  height: 100%;
  border: solid 1px #ccc;
}
#main-ui .p5-wrapper:before {
  content: "";
  display: block;
  aspect-ratio: 1;
}
#main-ui .p5 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

#main-ui-submit {
  background-color: #FF3B30;
  color:white;
  text-align: center;
}


#palette #palette-body {
  margin: 0;
  padding: 0;
  max-height: 100%;
}

.palette-item {
  float: left;
  height : 55px !important;
  width : 55px !important;
  margin-left:10px;
  
  opacity: 0.3;
  border : 1px;
  transition: transform .2s;  
}

.palette-item img{

  max-width: 100%;
  max-height: 100%;
  
  
}

.palette-item:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.palette-item.selected {
  opacity: 1;
  border : 2px;
}
#class-list .image_picker_selector img {
  width: 75px;
  height: 75px;
}
.p5Canvas {
  width: 100% !important;
  height: 100% !important;

 
}

#item-img-output {
  width: 75px;
  height: 75px;
}
#upload-demo {
  width: 350px;
  height: 350px;
  padding: 20px;
}
.modal-body {
  margin: auto;
}
.modal-content{
  width:100%;
}
.card {
  border : none;
}

.card-header{
  padding : none;
}

.card.editor{
  min-height:100%;
  /* width:100%; */
}

.editor > .card-body {
  padding : 0;
}

.fit-image {
  max-width: 100%;
  object-fit: cover 
}
.random-sample {
  width:100%;
  aspect-ratio: 1;
  transition: transform .2s;
  border:solid 0.3px lightgray;
  margin:12px;
}
.random-sample.selected{
  border:solid 2px #007AFF;
}
.random-sample:hover {
  cursor: pointer;
  transform: scale(1.2);
 /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.random-sample-noise {
  width:100%;
  aspect-ratio: 1;
  transition: transform .2s;
  border:solid 0.3px lightgray;
  margin:4px;
}
.random-sample-noise.selected{
  border:solid 2px #007AFF;
}
.random-sample-noise:hover {
  transform: scale(1.8);
 /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
img.image_picker_image {
  transition: transform .2s;
  border: 0.1px solid lightgray;
}
img.image_picker_image:hover {
  cursor: pointer;
  transform: scale(1.4);
 /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#download-button {
  display:inline-block;
  background-color: #4Cd964;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
#download-button:hover{
  color:#4Cd964;
  border:0.1em solid #4Cd964;
  background-color:#FFFFFF;
}

#download-button-original {
  display:inline-block;
  background-color: #4Cd964;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
#download-button-original:hover{
  color:#4Cd964;
  border:0.1em solid #4Cd964;
  background-color:#FFFFFF;
}

.styled-button {
  display:inline-block;
  background-color: #676767;
  border: none;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}
.styled-button:hover{
  color:#000000;
  border:0.1em solid #000;
  background-color:#FFFFFF;
}

ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 0px;
}
.thumbnail.selected .image_picker_image{
  border : 2px solid #FF9500;
}

.random-setting{
  padding : 5px;
  height:100%;
}

fieldset{
  /* margin:2%; */
  border : 1px;
}

fieldset legend {
  font-size:medium;
}

.lr-button {
  background-color: rgba(0,0,0,0);
  font-weight: 900;
  font-size: large;
  color:#FF3B30;
}

.lr-button:hover{
  color:white;
  border:none;
  background-color:#FF3B30;
}

.regenerate {
  font-size: x-small;
  background-color:orange;
}

.regenerate:hover{
  color:orange;
  border:0.1em solid orange;
  
}

.h-80 {
  height: 80%;
  max-height: 80%;
}

.h-10{
  height: 10%;
  max-height: 10%;
}

#p5-original{
  outline: #007AFF solid 2px;
}

#p5-reference{
  outline: #FF9500 solid 2px;
}

.file{
  cursor : pointer;
  padding : 1px;
}

.modal-waiting-content{
  background-color :rgba(0, 0, 0, 0.0);
  border : none;
}

.modal { 
  background-color :rgba(0, 0, 0, 0.6);
}

.no-overflow {
  overflow-y:scroll;
}